<h1>
  This is the index.  Go to other pages:
</h1>

<ul>
  <li><%= link_to "Libraries", libraries_path  %></li>
  <li><%= link_to "Book", books_path  %></li>
  <li><%= link_to "Library Books", library_books_path  %></li>
  <li><%= link_to "Transactions", library_book_transactions_path  %></li>
  <li><%= link_to "Users", users_path  %></li>
</ul>
