<h1>Listing library_books</h1>

<table>
  <tr>
    <th>Library</th>
    <th>Book</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @library_books.each do |library_book| %>
  <tr>
    <td><%= library_book.library_id %></td>
    <td><%= library_book.book_id %></td>
    <td><%= link_to 'Show', library_book %></td>
    <td><%= link_to 'Edit', edit_library_book_path(library_book) %></td>
    <td><%= link_to 'Destroy', library_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Library book', new_library_book_path %>
