<p id="notice"><%= notice %></p>

<p>
  <b>Library:</b>
  <%= @library_book.library_id %>
</p>

<p>
  <b>Book:</b>
  <%= @library_book.book_id %>
</p>


<%= link_to 'Edit', edit_library_book_path(@library_book) %> |
<%= link_to 'Back', library_books_path %>
